@use "../globals/breakpoints" as b;


.heading {
    height: 72rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading__background {
    position: absolute;
    top: 72rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white-98);
    z-index: -9;
}

.heading__img {
    position: absolute;
    top: -5rem;
    z-index: -10;
    /*top: -12rem;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 9rem;
}

@media only screen and (min-width: b.$mobile-point) {  
    .navbar {
        justify-content: flex-start;
        gap: 4.2rem;
    }

    .navbar__cart-icon {
        margin-left: auto;
    }
}

@media only screen and (min-width: b.$tablet-point) {
    .navbar {
        justify-content: space-between;
        gap: 1rem;
    }

    .navbar__cart-icon {
        margin-left: initial;
    }
    .heading__img {
        top: 0;
        transform: scale(1.1);
    }
}

.navbar__links {
    text-transform: uppercase;
    display: flex;
    gap: 3.4rem;
}

.navbar__menu {
    position: absolute;
    background-color: var(--white-100);
    top: 9rem;
    left: 0;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    z-index: 100;
}

.navbar__menu__item {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem; 
    gap: 1.5rem;
    padding: 1rem 1rem 2rem 1rem;
}

.menu__item__img {
    margin-top: -6rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0 25px 2rem hsl(0, 0%, 50%));
}

.menu__item__link {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media only screen and (min-width: b.$mobile-point) {
    .navbar__menu {
        height: 34rem;
        flex-direction: row;
        gap: 1rem;
    }

    .navbar__menu__item {
        margin-top: 0;
    }
}

