@use "../globals/breakpoints" as b;


@media only screen and (min-width: b.$tablet-point) {
    .tablet-only {
        display: none !important;
    }
}

@media only screen and (max-width: b.$tablet-point--max) {
    .desktop-only {
        display: none;
    }
}

.wrapper {
    padding-inline: 2.4rem;
    /*max-width: 375px;*/
    width: 100vw;
    min-width: 350px;
}

@media only screen and (min-width: b.$mobile-point) {
    .wrapper {
        padding-inline: 3.9rem;
        /*max-width: 769px;*/
    }
}

@media only screen and (min-width: b.$tablet-point) {
    .wrapper {
        padding-inline: 0;
        width: 75vw;
        max-width: b.$desktop-point;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.a-text-black {
    color: var(--black-100) !important;
    text-decoration: none;
}

.nav__filter {
    position: fixed;
    inset: 9rem 0 0 0;
    background-color: grey;
    z-index: 10;
    //will become a filter...
}

.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.margin-t-15 {
    margin-top: 1.5rem;
}

.empty {
    content: "";
    height: 9rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-hover:hover {
    cursor: pointer;
    color: var(--beige-100);
}