@use "../globals/breakpoints" as b;


@media only screen and (min-width: b.$tablet-point) {
    .tablet-only {
        display: none;
    }
}

@media only screen and (max-width: b.$tablet-point--max) {
    .desktop-only {
        display: none;
    }
}

.wrapper {
    padding: 2.4rem;
    /*max-width: 375px;*/
    width: 100%;
}

@media only screen and (min-width: b.$mobile-point) {
    .wrapper {
        padding: 3.9rem;
        /*max-width: 769px;*/
    }
}

@media only screen and (min-width: b.$tablet-point) {
    .wrapper {
        padding: 0;
        width: 75%;
        max-width: b.$desktop-point;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.a-text-black {
    color: var(--black-100) !important;
}

.nav__filter {
    position: absolute;
    inset: 9rem 0 0 0;
    background-color: grey;
    z-index: 10;
    //will become a filter...
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}