@model OrderViewModel

@section heroImage {
	<div class="heading__img-container heading__img-container--cat">
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<partial name="_CheckoutPartial" model="@Model" />