

$variables-mobile: (
    
    colours: (
    
    beige-100: hsl(22, 65%, 57%),
    beige-200: hsl(21, 94%, 75%),
    black-100: hsl(0, 0%, 0%),
    black-200: hsl(0, 0%, 30%),
    black-300: hsl(0, 0%, 6%),
    white-100: hsl(0, 0%, 100%),
    white-98: hsl(0, 0%, 98%),
    white-94: hsl(0, 0%, 94%),

    ),

    font-size: (
    fs-main-h1: 3.6rem,
    fs-main-h2: 2.8rem,
    fs-main-h3: 2.8rem,
    fs-main-h4: 1.5rem,
    fs-main-h5: 1.4rem,
    fs-button: 1.3rem,
    fs-main-p: 1.5rem,
    ),

    line-height: (
    lh-h1: 4rem,
    lh-h2: 3.8rem,
    lh-h3: 3.8rem,
    lh-h4: 2rem,
    lh-h5: 1.9rem,
    lh-button: 1.8rem,
    lh-p: 2.5rem,
    lh-footer: 2.5rem,
    ),

    letter-spacing: (
    ls-h1: 0.13rem,
    ls-h2: 0.1rem,
    ls-h3: 0.2rem,
    ls-h4: 0.11rem,
    ls-h5: 1rem,
    ls-button: 0.1rem,
    ls-footer: 0.2rem,
    ),

    font-weight: (
    fw-400: 400,
    fw-500: 500,
    fw-700: 700,
    ),

    opacity: (
    opacity-05: 0.5,
    opacity-075: 0.75,
    )
);

$variables-tablet: (
    font-size: (
    fs-main-h1: 5.6rem,
    fs-main-h2: 4rem,
    ),

    line-height: (
    lh-h1: 5.8rem,
    lh-h2: 4.4rem,
    ),

    letter-spacing: (
    ls-h1: 0.2rem,
    ls-h2: 0.14rem,
    )
);

$variables-desktop: (
    font-size: (
    fs-main-h4: 1.8rem,
    ),

    line-height: (
    lh-h4: 2.5rem,
    ),

    letter-spacing: (
    ls-h4: 0.13rem,
    ),
);