@model List<ProductViewModel>

@section heroImage {
	<div class="heading__img-container heading__img-container--cat">
	</div>
}

	<article class="heroText--cat bg-black-100">
		<h1 class="fs-main-h2 fw-700 text-white-100 ls-h2 lh-h2 uppercase">@Model[0].Category.CategoryName</h1>
	</article>
	<main role="main" class="wrapper container container--categories">
		@{
			int i = 0;
			foreach (var product in Model)
		{
			if (i % 2 == 0)
			{
				<partial name="_CatPageProd" model="product" />
			}
			else
			{
				<partial name="_CatPageProdReverse" model="product" />
			}
			i++;
		}
		}
		@*<div class="filler"></div>*@
	<partial name="_CategoriesWithWrapper" />
	<partial name="_BestGearPartial" />
	</main>
