@model List<ProductViewModel>

@section heroImage {
	<div class="heading__img-container heading__img-container--cat">
	</div>
}
@*@section heroText {
	<div class="heroText--cat">
		<h1 class="fs-main-h2 fw-700 text-white-100 ls-h2 lh-h2 uppercase">Headphones</h1>
	</div>
}*@