@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@section heroImage {
    <div class="heading__img-container heading__img-container--cat">
    </div>
}
    <main class="wrapper container container--categories">
        <div class="error-page-wrapper">
            <h1 class="fw-700 fs-checkout-h2 text-black-100 lh-h2">Error</h1>
            <h2 class="fs-main-p text-black-100 opacity-075 lh-p fw-500">An error occurred while processing your request, please try again later.</h2>
            <a asp-controller="Product" asp-action="Index" class="button-main button-main--transparent fw-700 text-white-100 fs-button ls-button uppercase">Back To Home</a>
        </div>
    </main>
@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>*@
