@{
    ViewData["Title"] = "Error";
}

@section heroImage {
    <div class="heading__img-container heading__img-container--cat">
    </div>
}
    <main class="wrapper container container--categories">
        <div class="error-page-wrapper">
            <h1 class="fw-700 fs-checkout-h2 text-black-100 lh-h2">Error</h1>
            <h2 class="fs-main-p text-black-100 opacity-075 lh-p fw-500">An error occurred while processing your request, please try again later.</h2>
            <a asp-controller="Product" asp-action="Index" class="button-main button-main--transparent fw-700 text-white-100 fs-button ls-button uppercase">Back To Home</a>
        </div>
    </main>
