@model List<ProductViewModel>

@section heroText {
    <section class="wrapper">
        <section class="heroText">
            <h5 class="fw-400 text-white-100 opacity-05 fs-main-h5 ls-h5 uppercase">New Product</h5>
            <h2 class="fw-700 text-white-100 fs-main-h1 ls-h1 lh-h1 uppercase">@Model.SingleOrDefault(p => p.Id == 4).Name</h2>
            <p class="fw-500 fs-main-p text-white-100 opacity-075 lh-p">Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
            <button class="margin-t-15 button-main button-main--beige fw-700 text-white-100 fs-button ls-button uppercase">See Product</button>
        </section>
    </section>
    
}

<partial name="_CategoriesWithWrapper" />

    <article class="home__feature-main">
        <div class="home__feature-main__img-container">
            <picture>
                <source media="(min-width: 1025px)"
                    srcset="/assets/home/desktop/image-speaker-zx9.png" />
                <source media="(min-width: 600px)"
                    srcset="/assets/home/tablet/image-speaker-zx9.png" />
                <img class="image-reset" src="/assets/home/mobile/image-speaker-zx9.png" />
            </picture>
            <img class="home__feature-main__background-img" src="/assets/home/desktop/pattern-circles.svg"/>
        </div>
        <div class="home__feature-main__text features-wrapper">
            <h2 class="@*width-80*@ fw-700 text-white-100 fs-main-h1 ls-h1 lh-h1 uppercase">@Model.SingleOrDefault(p => p.Id == 6).Name</h2>
            <p class="fw-500 fs-main-p text-white-100 opacity-075 lh-p">Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
                <button class="button-main button-main--black fw-700 text-white-100 fs-button ls-button uppercase">See Product</button>
        </div>
    </article>
