@model int;

<p class="basket-decrement item-incrementer__btn fw-700 opacity-025 text-black-100 fs-button">-</p>
<p class="basket-incrementer-value fw-700 text-black-100 fs-button">@Model</p>
<p class="basket-increment item-incrementer__btn fw-700 opacity-025 text-black-100">+</p>