<article class="best-gear">
    <div class="best-gear__text">
        <h2 class="fw-700 text-black-100 fs-main-h2 ls-h2 lh-h2 uppercase">Bringing you the <span class="text-beige-100">best</span> audio gear</h2>
        <p class="fw-500 fs-main-p text-black-100 opacity-05 lh-p">Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for you to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.</p>
    </div>
    <div>
        <picture>
            <source media="(min-width: 1025px)"
                    srcset="/assets/shared/desktop/image-best-gear.jpg" />
            <source media="(min-width: 600px)"
                    srcset="/assets/shared/tablet/image-best-gear.jpg" />
            <img class="image-reset border-radius" src="/assets/shared/mobile/image-best-gear.jpg" />
        </picture>
    </div>
</article>