<div class="categories-partial__item bg-white-94 highlight-off">
    <img class="categories-partial__item__img" src="/assets/image-removebg-preview(41).png" />
    <h4 class="text-uppercase fs-main-h4 text-black-100 ls-h4 lh-h4 fw-700">Headphones</h4>
    <div class="categories-partial__item__link">
        <a class="a-text-black text-uppercase opacity-05 fw-700 fs-button lh-button ls-button" href="#">Shop</a>
        <div>
            <img src="/assets/shared/desktop/icon-arrow-right.svg" />
        </div>
    </div>
    <a class="text-hover fullDiv-link" asp-controller="Product" asp-action="Category" asp-route-category="Headphones"></a>
</div>
<div class="categories-partial__item bg-white-94 highlight-off">
    <img class="categories-partial__item__img" src="/assets/image-removebg-preview(38).png" />
    <h4 class="text-uppercase fs-main-h4 text-black-100 ls-h4 lh-h4 fw-700">Speakers</h4>
    <div class="categories-partial__item__link">
        <a class="a-text-black text-uppercase opacity-05 fw-700 fs-button lh-button ls-button">Shop</a>
        <div>
            <img src="/assets/shared/desktop/icon-arrow-right.svg" />
        </div>
    </div>
    <a class="text-hover fullDiv-link" asp-controller="Product" asp-action="Category" asp-route-category="Speakers"></a>
</div>
<div class="categories-partial__item bg-white-94 highlight-off">
    <img class="categories-partial__item__img" src="/assets/image-removebg-preview(42).png" />
    <h4 class="text-uppercase fs-main-h4 text-black-100 ls-h4 lh-h4 fw-700">Earphones</h4>
    <div class="categories-partial__item__link">
        <a class="a-text-black text-uppercase opacity-05 fw-700 fs-button lh-button ls-button">Shop</a>
        <div>
            <img src="/assets/shared/desktop/icon-arrow-right.svg" />
        </div>
    </div>
    <a class="text-hover fullDiv-link" asp-controller="Product" asp-action="Category" asp-route-category="Earphones"></a>
</div>