@model OrderViewModel;

<div class="fullscreen fullscreen--container">
	<article class="popup-wrapper--checkout">
		<div class="checkout__tick-wrapper">
			<img src="/assets/Tick.png" />
		</div>
		<h2 class="checkout-complete__thank-you fs-products-h2 fw-700 uppercase ls-checkout text-black-100 lh-checkout">Thank you<br /> for your order</h2>
		<p class="fs-main-p text-black-100 opacity-05 lh-p fw-500">You will recieve an email confirmation shortly.</p>
		<article class="checkout-complete__order-overview">
			<article class="checkout-complete__order-overview__product">
				@{
					var item = Model.OrderDetails[0];
					var path = $"image-{item.Product.Slug}.jpg";
					var numberOtherItems = Model.OrderDetails.Count() - 1;
				}
				<article class="basket-item order-overview__product__detail">
					<div class="basket-item__img-wrapper">
						<img class="border-radius image-reset" src="/assets/cart/@path">
					</div>
					<div>
						<h4 class="fs-checkout-h4 text-black-100 fw-700 lh-h4">@item.Product.ProductName</h4>
						<p class="fs-main-h5 text-black-100 fw-700 opacity-05">@item.Product.Price</p>
					</div>
					<h4 class="margin-l-auto fs-checkout-h4 fw-700 text-black-100 opacity-05 uppercase">x @item.Quantity</h4>
				</article>
				<p class="padding-t-1 text-align-center fw-700 opacity-05 text-black-100 fs-main-h5">and @numberOtherItems other item(s)</p>
			</article>
			<div class="checkout-complete__order-overview__total">
				<p class="fs-main-p text-white-100 opacity-05 lh-p fw-500 uppercase">Grand Total</p>
				<h4 class="fs-checkout-h3 text-white-100 fw-700 uppercase">@Model.OrderGrandTotal</h4>
			</div>
		</article>
		<a asp-controller="Product" asp-action="Index" class="button-main button-main--beige fw-700 text-white-100 fs-button ls-button uppercase">Back To Home</a>
	</article>
</div>
<div class="fullscreen--filter fullscreen"></div>