<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AudiophileEcommerceWebsite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AudiophileEcommerceWebsite.styles.css" asp-append-version="true" />
</head>
<body class="">
    <header class="heading">
        <div class="heading__img-container">
            <picture>
                <source media="(min-width: 1025px)" 
                        srcset="/assets/home/desktop/image-hero.jpg" />
                    
                <source media="(min-width: 600px)" 
                        srcset="/assets/home/tablet/image-header.jpg" />
                    
                <img class="heading__img" src="/assets/home/mobile/image-header.jpg" />
            </picture>
        </div>
        <div class="heading__nav-container">
            <nav class="wrapper navbar">
                <div class="hamburger tablet-only pointer">
                    <img src="/assets/shared/tablet/icon-hamburger.svg"/>
                </div>
                <div class="navbar__logo">
                    <img src="/assets/shared/desktop/logo.svg" />
                </div>
                <div class="desktop-only navbar__links text-white-100 fs-button fw-700 ls-h3">
                    <p class="text-hover">Home</p>
                    <p class="text-hover">Headphones</p>
                    <p class="text-hover">Speakers</p>
                    <p class="text-hover">Earphones</p>
                </div>
                <div class="navbar__cart-icon">
                    <img src="/assets/shared/desktop/icon-cart.svg" />
                </div>
                <section class="navbar__menu categories-wrapper wrapper tablet-only hidden">
                    <partial name="_CategoriesPartial" />
                </section>
                <span class="nav__filter tablet-only hidden"></span>

            
            </nav>
            @RenderSection("heroText",true)
            <span class="empty"></span>
        </div>


      @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AudiophileEcommerceWebsite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>  *@
    </header>
    <main role="main" class="wrapper main-container">
        @RenderBody()
    </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
