<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AudiophileEcommerceWebsite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AudiophileEcommerceWebsite.styles.css" asp-append-version="true" />
    
</head>
<body class="body overflow-x-hidden">
    <header class="heading">
        @RenderSection("heroImage", true)
        <div class="heading__nav-container">
            <nav class="wrapper navbar">
                <div class="hamburger tablet-only pointer">
                    <img src="/assets/shared/tablet/icon-hamburger.svg"/>
                </div>
                <div class="navbar__logo">
                    <a asp-controller="Product" asp-action="Index"><img src="/assets/shared/desktop/logo.svg" /></a>
                </div>
                <div class="desktop-only navbar__links text-white-100 fs-button fw-700 ls-h3">
                    <a class="text-hover" asp-controller="Product" asp-action="Index">Home</a>
                    <a class="text-hover" asp-controller="Product" asp-action="Category" asp-route-category="Headphones">Headphones</a>
                    <a class="text-hover" asp-controller="Product" asp-action="Category" asp-route-category="Speakers">Speakers</a>
                    <a class="text-hover" asp-controller="Product" asp-action="Category" asp-route-category="Earphones">Earphones</a>
                </div>
                <div class="navbar__cart-icon">
                    <img id="shopping-cart-icon" src="/assets/shared/desktop/icon-cart.svg" />
                    <article id="ShoppingBasketSummary" class="basket-summary invisible">
                        <vc:shopping-basket-summary></vc:shopping-basket-summary>
                    </article>
                </div>
                <section class="navbar__menu categories-wrapper wrapper tablet-only hidden">
                    <partial name="_CategoriesPartial" />
                </section>
            </nav>
            @RenderSection("heroText",false)
            @*<span class="empty"></span>*@
            <span class="line"></span>
        </div>
        <span class="nav__filter tablet-only hidden"></span>
    </header>
    @RenderBody()
    
    <footer class="bg-black-300 footer-container">
        <article class="wrapper footer-wrapper">
            <div class="footer-nav">
                <div class="navbar__logo">
                    <img src="/assets/shared/desktop/logo.svg" />
                </div>
                <div class="navbar__links navbar__links--footer text-white-100 fs-button fw-700 ls-h3">
                    <a class="text-hover" asp-controller="Product" asp-action="Index">Home</a>
                    <a class="text-hover" asp-controller="Product" asp-action="Category" asp-route-category="Headphones">Headphones</a>
                    <a class="text-hover" asp-controller="Product" asp-action="Category" asp-route-category="Speakers">Speakers</a>
                    <a class="text-hover" asp-controller="Product" asp-action="Category" asp-route-category="Earphones">Earphones</a>
                </div>
            </div>
            <p class="footer-para text-white-100 opacity-05 fs-main-p fw-500 lh-p">Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.</p>
            <div class="footer-wrapper__social-container">
                <p class="text-white-100 opacity-05 fs-main-p fw-700 lh-p">Copyright 2021. All Rights Reserved</p>
                <div class="footer-wrapper__social">
                    <img src="/assets/shared/desktop/icon-facebook.svg" />
                    <img src="/assets/shared/desktop/icon-twitter.svg" />
                    <img src="/assets/shared/desktop/icon-instagram.svg" />
                </div>
            </div>
            <span class="ui-marker"></span>
        </article>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
