@model int;

<p id="product-decrement" class="item-incrementer__btn fw-700 opacity-025 text-black-100 fs-button">-</p>
<p id="product-incrementer-value" class="fw-700 text-black-100 fs-button">@Model</p>
<p id="product-increment" class="item-incrementer__btn fw-700 opacity-025 text-black-100">+</p>